body{
    background-color:blanchedalmond
}

form{
    text-align:center;
    margin-top: 50px;
}

#city{
 height: 20px;
 width: 300px;
 border: 5px solid antiquewhite;
 border-radius: 6px;
 font-weight: bold;
 background-color:#b6df6f;

}

.btn{
    padding: 5px 10px;
    background-color: bisque;
    border-radius: 10px;
    transition-delay:0.2s;
}

.btn:hover{
    cursor: pointer;
    background-color:#b6df6f;
  
}